<h1>Welcome to the To Do List!</h1>

<div ng-app="app">
  <div ng-controller="toDoCtrl">

    <div id="input_form">
      <input ng-model="newTask">
      <button ng-click="addTask(newTask)">Add Task</button>
    </div>

    <div id="tasks">
      <h2>Things To Do:</h2>
      <ul>
        <li ng-repeat="task in tasks track by $index" ng-class="{completed: task.completed}" ng-click="toggleCompleted(task)">{{ task.task }}</li>
      </ul>
      <p ="checkIncomplete(tasks)">Incomplete Tasks: {{ incompletes.length }}</p>
    </div>

  </div>
</div>